@charset "UTF-8";

body{
	background:#07236d;
}
.login-box{
	border: 5px solid #07236d;
    background: url(../images/0.jpg) #07236d top center no-repeat;
    width: 800px;
    height: 597px;
    margin: 10px auto 0 auto;
    padding: 0 30px;	
}
.login-main{
	height: 260px;
    margin-top: 210px;
}
form{
	margin: 0;
    padding: 0;
    position: relative;
    top:55px;
    left:300px;
    float:left;
}
input{
	padding-left:2px;
	margin-bottom:8px;
    letter-spacing: 1px;
}
.select{
	width:80px;
	position: absolute;
    top:60px;
    left:0px;
	
}
.input2{
	width:70px;
	height:22px;
	line-height:22px;
	text-align: center;
	position: relative;
    top:27px;
    letter-spacing: 2px;
}
.submit{
	background: url(../images/login-btn.png) no-repeat;
	width: 158px;
    height: 45px;
    border: none;
    cursor: pointer;
    position: absolute;
    top:108px;
    right:0px;
}
.img{
	position: relative;
	top:32.5px;
	left:300px;
}
.errorMessage li{
	list-style:none;
	height:0;
}
.errorMessage li span{
	list-style:none;
	color:red;
	font-size:14px;
	line-height:15px;
	display:inline-block;
	position: relative;
	top:285px;
	left:695px;
}


