@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    margin: auto;
}
.title{
    display: block;
    margin: 15px auto 25px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.line{
    width: 1000px;
    height: 2px;
    margin: 0 auto 20px;
    background-color: black;
}
.teacher{
    width: 1000px;
    height: 300px;
    margin-bottom: 40px;
    border-bottom: 2px dotted #333333;
}
.teacher img{
    width: 480px;
    float: left;
    margin-right: 20px;
}

.teacherName a{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    font-size: 25px;
    color: #060203;
    position: relative;
    left: 0;
    top: 0;
}
.teacherName a:hover{
    color: #EF6762;
}
.introduce{
    width: 480px;
    height: 230px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    color: #596C66;
    font-size: 15px;
    line-height: 30px;
}
.introduce2{
	position:relative;
    left:-500px;
}
.teacher2 img{
	position:relative;
	left:500px;
}