*{
    padding: 0;
    margin: 0;
}
.container{
    width: 320px;
    height: 480px;
    background: url("../images/game_bg.jpg") no-repeat 0 0;
    margin: 50px auto;
    position: relative;
}
.container>h1{
    color: white;
    margin-left: 60px;
}
.container>.progress{
    width: 180px;
    height: 16px;
    background: url("../images/progress.png") no-repeat 0 0;
    position: absolute;
    left: 63px;
    top: 66px;
}
.container>.start{
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: linear-gradient(to bottom,#E55C3D,#C50000);    /* 渐变色 */
    /* 详情参看：https://blog.csdn.net/zlq_CSDN/article/details/84873236 */
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}
.container>.rules{
    width: 100%;
    height: 20px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
}
.container>.rule{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}
.rule>p{
    line-height: 50px;
    color: white;
}
.rule>a{
    color: red;
}
.container>.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 200px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}
.mask>h1{
    color: #f84f03;
    text-shadow: 3px 3px 0 white;
}
.mask>.reStart{
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -75px;
    color: white;
    background: linear-gradient(#74ACCF,#007DDC);
}